.device-wrapper {
  max-width: 300px;
  width: 100%;
}

.device {
  position: relative;
  background-size: cover;
}
.device .screen {
  position: absolute;
  background-size: cover;
  pointer-events: none;
}
.device .button {
  position: absolute;
  cursor: pointer;
}

.device[data-device="iPhone7"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 203.10345%;
  background-image: url(../img/device-mockups/iPhone7/portrait_black.webp);
}
.device[data-device="iPhone7"][data-orientation="portrait"][data-color="black"]
  .screen {
  top: 11.99774%;
  left: 6.2069%;
  width: 87.35632%;
  height: 76.06112%;
}
.device[data-device="iPhone7"][data-orientation="portrait"][data-color="black"]
  .button {
  top: 89.53028%;
  left: 42.29885%;
  width: 15.74713%;
  height: 7.75325%;
}
